.menubar-mobile{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: none;
}
.menubar-desktop{
    background: coral; 
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 20%;
    padding: 10px 20px;
}
.menubar-desktop li{
    background: coral;
    border: none;
    padding-bottom: 10px;
    text-align: center;
}
.menubar-desktop li  a{
    text-decoration: none;
    font-weight: 700;
    color: aliceblue;
}
.profile_image{
    padding: 20px;
    text-align: center;
}
.profile_image img{
    width: 200px;
    height: 190px;
    border-radius: 50%;
    border: 10px solid salmon;

}


.main-content{
    padding-left: 20%;
    background: #000000;
    margin-bottom: 0;
}

section{
    padding: 0 10%;
    padding-top: 10%;
    color: white;
    height: 100vh;
}
section h4,h1, h6{
    text-transform: uppercase;    
}
section h4{
    font-size: 45px;
    color: coral;
    padding-bottom: 10px;
}
section h5{
    font-size: 28px;
    padding-bottom: 20px;
}

#about h1{
    font-size: 72px;
    color: coral;
    padding-bottom: 10px;
}

#about .icons{
    font-size: 18px;
}

#project img{
    width: 30%;
    height: 40%;
    margin: 10px;
}

.icons{

    font-size: 38px;
    padding-top: 10px;
    margin-right: 20px;
}

@media screen and (max-width:780px) {
    .menubar-mobile{
        display: block;
    }

    .menubar-desktop{
        display: none;
    }
    .main-content{
        padding: 0;
        padding-bottom: 10px;
    }

    #project img{
        width: 100%;
    }

    section{
        height: 100%;
    }
}

